<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499751513546-tfcmvd7vldeandd7n9k1drgot57tbmb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499751513546-tfcmvd7vldeandd7n9k1drgot57tbmb4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499751513546-oqjmusk782d2dohm1b7t8n43t1o93de3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtdBXPI3eGneBramwIo0LATm-Or8wvnzU</string>
	<key>GCM_SENDER_ID</key>
	<string>499751513546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.achadodeluxo</string>
	<key>PROJECT_ID</key>
	<string>marketplace-achado-de-luxo</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-achado-de-luxo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499751513546:ios:f2aabc4340ddca9ea93333</string>
</dict>
</plist>